body {
    background-image: url(../images/chicago.jpg);
    
}
.exp {
    color:red;
    border:1px solid black;
    background-color:white;
    padding:10px 5px 10px 5px;
    margin-left:10px;
    text-decoration:none;
}
.fav {
    color:red;
    border:1px solid black;
    background-color:white;
    padding:10px 5px 10px 5px;
    margin-left:10px;
    text-decoration:none;
}
.exp:hover {
    background-color:blue;
    font-style:italic;
    transition-duration:0.5s;
}
.fav:hover {
    background-color:green;
    font-style:italic;
    transition-duration:0.5s;
}
.bio {
    border-style:groove;
    border-width: 10px;
    font-size:50;
    
}
.myself {
    color:red;
    border:1px solid black;
    background-color:white;
    padding:10px;
    margin-left:10px;
    text-decoration:none;
    border-radius:100px;
    transition-duration:0.5;
}

.myself:hover {
    font-style:italic;
    background-color:yellow;
    transition-duration:0.5s;
    
}